@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
  --color-lwsGreen: #00d991;
  --color-deepDark: #17181c;
  --color-mediumDark: #1e1f24;
  --color-lighterDark: #27292f;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@plugin "@tailwindcss/typography";

@layer base {
  body {
    @apply bg-deepDark font-inter text-gray-100;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .card {
    @apply rounded-md border border-[#3F3F3F] bg-mediumDark px-2 py-2 sm:px-4 sm:py-4 lg:px-7 lg:py-5;
  }
}

@layer components {
  .btn-primary {
    @apply flex items-center justify-center rounded-md    font-medium text-white hover:bg-deepDark;
  }
  .icon-btn {
    @apply flex items-center justify-center rounded-md  font-medium  text-white;
  }

  .form-control {
    @apply mb-6 space-y-2.5;
  }
  .auth-label {
    @apply leading-[138%]  lg:text-lg;
  }
  .auth-input {
    @apply w-full rounded-md border border-[#CCCCCC]/[14%] bg-lighterDark  p-1.5 focus:outline-none lg:p-3;
  }

  .post-avater {
    @apply max-w-10 max-h-10 rounded-full lg:max-h-[58px] lg:max-w-[58px];
  }

  /* Action Modal */
  .action-modal-container {
    @apply rounded-md border border-[#3F3F3F] bg-mediumDark px-2  lg:px-4 lg:py-5 absolute right-full top-6 min-w-[130px] md:min-w-[200px] divide-y divide-[#3F3F3F] py-2 [&>button]:py-2;
  }

  .action-menu-item {
    @apply flex w-full items-center gap-2 text-gray-100 transition-all;
  }
}
